.input-box {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  padding: 20px;
  width: 60vmax;
  background-color: #fff;
  border-radius: 10px;
}

.wizard {
  width: 100%;
  max-height: fit-content;
  background-color: #D1D1D1;
  border-radius: 5px;
  padding: 0;
}
.wizard-content{
  padding: 3%;
  border-radius: 5px;
  text-align: center;
  
}

.form {
  width: 100%;
  max-height: fit-content;
}


